/* nprogress.css */
#nprogress .bar {
    background: #008AFF; /* Adjust color to match your theme */
    height: 4px; /* Thickness of the loading bar */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1031;
}
#nprogress .peg {
    box-shadow: 0 0 10px #008AFF, 0 0 5px #008AFF;
}
#nprogress .spinner {
    display: none; /* Hide the spinner */
}